In [4]:
import pandas as pd
import requests

In [7]:
pd.read_json('train.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

## working with SQL

In [1]:
import mysql.connector

In [12]:
config = {'host': 'localhost',
        'user': 'root',
        'password': 'mysql123',
        'database': 'youtube_project'
                }
conn = mysql.connector.connect(**config)
cursor = conn.cursor()
#cursor.execute("drop table if exists channel")
#conn.commit()

In [ ]:
conn._execute_query

In [5]:
pd.read_sql_query("select * from channel", conn)

c:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,Channel_Name,Channel_Id,Subscription_Count,Views,Total_Videos,Channel_Description,Playlist_Id
0,Data With Mo,UCDybamfye5An6p-j1t2YMsg,70100,2078803,63,"ðŸ‘‹ Hey there, this is my attempt at creating th...",UUDybamfye5An6p-j1t2YMsg
1,Pavan Sathiraju,UCHYVOFd3E5WfP5infRbuVtw,65500,1641792,284,Hoping to publish meaningful and value-add con...,UUHYVOFd3E5WfP5infRbuVtw
2,Thu Vu data analytics,UCJQJAI7IjbLcpsjWdSzYz0Q,173000,5750452,78,Hi there! Thanks for checking out my channel. ...,UUJQJAI7IjbLcpsjWdSzYz0Q
3,QuantProgram,UCq_njg0BL8sT3781M6IAfOg,63300,2195981,37,Educational channel focusing on quantitative f...,UUq_njg0BL8sT3781M6IAfOg
4,Data Nash,UCRqCK8izkO5xeVVtMKSHeRQ,18100,871949,49,On a journey to become an elite Data Scientist...,UURqCK8izkO5xeVVtMKSHeRQ

In [18]:
#cursor.execute("select * from channel")
pd.read_sql_table('channel', conn)

c:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

In [19]:
cursor.close()

True

In [14]:
cursor.execute("select * from channel")
data = cursor.fetchall()

In [15]:
data

[('Data With Mo',
  'UCDybamfye5An6p-j1t2YMsg',
  70100,
  2078803,
  63,
  "ðŸ‘‹ Hey there, this is my attempt at creating the data channel I wish I had stumbled upon right at the beginning of my career. \n\nMy name is Mo Chen and I work as a Data & Analytics Analyst within the Financial Services Industry. I make videos covering data analyst skills and knowledge ðŸ“–\n\nI know all the information in the world of data can be overwhelming, so I aim at delivering complex topics in the simplest way possible ðŸ’¡\n\nWhether you're trying to transition into a data analyst role, a beginner data analyst or someone looking to further enhance their skills - this is the channel for you ðŸ˜ƒ\n",
  'UUDybamfye5An6p-j1t2YMsg'),
 ('Pavan Sathiraju',
  'UCHYVOFd3E5WfP5infRbuVtw',
  65500,
  1641792,
  284,
  'Hoping to publish meaningful and value-add content.',
  'UUHYVOFd3E5WfP5infRbuVtw'),
 ('Thu Vu data analytics',
  'UCJQJAI7IjbLcpsjWdSzYz0Q',
  173000,
  5750452,
  78,
  "Hi there! Thanks for checking out my channel. Me in 3 words: Economist turned data nerd. I'm a Data science consultant by profession in the past 5 years, based in the Netherlands. My background is in Economics and Computer Science. I love learning and explaining stuff about data science. If that sounds interesting, consider subscribing! :)\n\nDisclaimers: \nAll opinions are of my own and not of my employers.\n",
  'UUJQJAI7IjbLcpsjWdSzYz0Q'),
 ('QuantProgram',
  'UCq_njg0BL8sT3781M6IAfOg',
  63300,
  2195981,
  37,
  'Educational channel focusing on quantitative finance and investment concepts using math and coding with the application to finance. Subscribers can improve their knowledge and awareness about new developments in financial markets, the risk associated with it along with the opportunity it provides.\n\nDisclaimer: The contents provided in the channel are purely educational. We do not provide any financial or investment advice. There is a very high degree of risk involved in trading. Past results are not indicative of future returns. quantprogram.com and all individuals affiliated with this site assume no responsibilities for your trading and investment results. The contents, videos, columns, articles and all other features are for educational purposes only and should not be construed as investment advice.\n\n\n',
  'UUq_njg0BL8sT3781M6IAfOg'),
 ('Data Nash',
  'UCRqCK8izkO5xeVVtMKSHeRQ',
  18100,
  871949,
  49,
  'On a journey to become an elite Data Scientist and documenting my learnings along the way.\n',
  'UURqCK8izkO5xeVVtMKSHeRQ')]

In [16]:
pd.DataFrame(data)

,0,1,2,3,4,5,6
0,Data With Mo,UCDybamfye5An6p-j1t2YMsg,70100,2078803,63,"ðŸ‘‹ Hey there, this is my attempt at creating th...",UUDybamfye5An6p-j1t2YMsg
1,Pavan Sathiraju,UCHYVOFd3E5WfP5infRbuVtw,65500,1641792,284,Hoping to publish meaningful and value-add con...,UUHYVOFd3E5WfP5infRbuVtw
2,Thu Vu data analytics,UCJQJAI7IjbLcpsjWdSzYz0Q,173000,5750452,78,Hi there! Thanks for checking out my channel. ...,UUJQJAI7IjbLcpsjWdSzYz0Q
3,QuantProgram,UCq_njg0BL8sT3781M6IAfOg,63300,2195981,37,Educational channel focusing on quantitative f...,UUq_njg0BL8sT3781M6IAfOg
4,Data Nash,UCRqCK8izkO5xeVVtMKSHeRQ,18100,871949,49,On a journey to become an elite Data Scientist...,UURqCK8izkO5xeVVtMKSHeRQ